.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.aboutBg {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703252536/J-Cassy/composition-of-black-friday-shopping-cart-with-gift-boxes-or-bags-on-dark-background-and-copy-space-concept-by-ai-generated-free-photo_sjqafq.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  filter: blur(10px);
  animation: fadeIn 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.aboutTxt {
  border-radius: 10px;
  width: 50%;
  height: 70%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.aboutTxt p {
  font-size: large;
  font-weight: bold;
  margin: 10px 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 960px) {
}
@media (max-width: 600px) {
  .aboutTxt {
    width: 100%;
    margin-top: 100px;
    padding: 0px 12px;
  }
  .aboutTxt p{
    text-align: center;
    margin-top: 50px;
  }
}
