.container {
  position: relative;
  display: flex;
  background-color: #ede9e9;
  width: 100vw;
}

.mobileMainMenu {
  position: fixed;
  top: 80px;
  left: 0;
  width: 31%;
  height: 100%;
  z-index: 3;
  background-color: #fff;
  color: #000;
  display: flex;
  transform: translateX(0%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.hideMenu {
  transform: translateX(0%);
}

.mobileMainMenu ul {
  list-style: none;
  margin: 10px 10px;
  width: 100%;
}
.mobileMainMenu ul li {
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  width: 90%;
  text-align: left;
  padding-bottom: 5px;
}
.mobileMainMenu ul li.active {
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}
.icon {
  margin-right: 10px;
}
.main {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5efef;
  color: #000;
  width: 70%;
}
.expandMain {
  width: 70%;
}
.header {
  position: fixed;
  display: flex;
  background-color: #fff;
  color: #000;
  border-bottom: 2px solid #ede9e9;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
  z-index: 10;
}
.header .adminIcon{
    display: flex;
    margin: 10px;
    padding: 5px;
}
.header .adminIcon h2{
    margin: 3px 15px;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header ul li {
  margin: 0 10px;
}
.hambuger {
  position: fixed;
  top: 20px;
  left: 350px;
  cursor: pointer;
  z-index: 10;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
}
.hambugerTop,
.hambugerMiddle,
.hambugerButtom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transition: all 0.5s;
}
.hambugerMiddle {
  transform: translateY(5px);
}
.hambugerButtom {
  transform: translateY(10px);
}
.open {
  transform: rotate(90deg);
}
.open .hambugerTop {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hambugerMiddle {
  display: none;
}
.open .hambugerButtom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.form {
    margin-left: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.form input {
  border: none;
  width: 90%;
  padding: 10px 10px;
  color: #000;
  background-color: #ede9e9;
  border-radius: 10px;
}
.container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form input:focus {
  outline: none;
}

.imgContainer {
  width: 40px;
  height: 40px;
}
.imgContainer img {
  width: 100%;
  border-radius: 50%;
}
.dashboardBody h2 {
  padding: 20px;
}
.dashboardBody ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.dashboardBody ul li {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 40%;
}
.logout {
  display: flex;
  text-decoration: none;
  color: #000;
}
.main.text {
  display: flex;
}
.chart {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.orders {
  background-color: #fff;
  margin: 20px 10px;

  width: 97%;

  padding: 0 10px;
}
.orders h2 {
  padding: 20px;
}
.orderInfo {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.userId ul {
  list-style: none;
  display: flex;
  height: 100%;
}
.userId ul li {
  margin: 0 20px;
}

.userDetails ul {
  list-style: none;
  display: flex;
  width: 100%;
}
.userDetails ul li {
  margin: 0 20px;
  width: 100%;
}
@media (max-width: 960px) {
  .dashboardBody ul {
    display: flex;
    flex-wrap: wrap;
  }
  .dashboardBody ul li {
    width: 100%;
    margin: 5px 20px;
  }
  .userDetails ul {
    width: 100%;
  }
  .userDetails ul li {
    margin: 0 10px;
  }
}
@media (max-width: 600px) {
    .mobileMainMenu{
        transform: translateX(-100%);
    }
    .hideMenu {
  transform: translateX(0%);
}
    .header .adminIcon{
        display: none;
    }
    .hambuger{
        top: 26px;
        left: 15px;
    }
    .header .form{
        margin-top: 5px;
      padding-left: 20px;
        width: 60%;
    }
  .main {
    width: 100%;
  }
  .main .dashboardBody ul li {
    width: 100%;
    margin: 5px 20px;
  }
  .mobileMainMenu {
    /* display: none; */
    width: 70%;
  }

  .orderInfo {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .userId ul {
    display: flex;
    flex-direction: column;
  }
  .userDetails ul {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
}
