.container {
  display: flex;
  background-color: #ede9e9;
  width: 100vw;
}

.aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
}

.aside ul {
  list-style: none;
  margin: 10px 10px;
  width: 100%;
}
.aside ul li {
  display: flex;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  width: 90%;
  text-align: left;
  padding-bottom: 5px;
}
.aside ul li.active {
  background-color: rgba(0, 0, 255, 0.2);
  border-radius: 5px;
}
.icon {
  margin-right: 10px;
}
.main {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f5efef;
  color: #000;
  width: 70%;
}
.header {
  display: flex;
  background-color: #fff;
  color: #000;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%;
  height: 80px;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.form input {
  border: none;
  width: 90%;
  padding: 10px 10px;
  color: #000;
  background-color: #ede9e9;
  border-radius: 10px;
}
.container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.form input:focus {
  outline: none;
}

.imgContainer {
  width: 40px;
  height: 40px;
  background-color: red;
}
.imgContainer img {
  width: 100%;
  border-radius: 50%;
}
.main .dashboardBody ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.main .dashboardBody ul li {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  width: 40%;
}
.logout {
  display: flex;
  text-decoration: none;
  color: #000;
}
.main.text {
  display: flex;
}
.chart {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.orders {
  background-color: #fff;
  /* margin: 20px 10px; */
  margin: 20px 10px;
  
  width: 97%;
  /* height: 500px; */
  padding: 0 10px;
}
.orders h2{
    padding: 20px;
}
.orderInfo {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}
.userId ul {
  /* background-color: blue; */
  list-style: none;
  display: flex;
  height: 100%;
}
.userId ul li {
    margin: 0 20px;
}
.userDetails ul {
  /* background-color: orange; */
  list-style: none;
  display: flex;
  height: 100%;
}
.userDetails ul li{
      margin: 0 20px;
}
@media(max-width: 960px) {
      .main {
    width: 100%;
  }
    .main .dashboardBody ul{
        display: flex;
        flex-wrap: wrap;
    }
     .main .dashboardBody ul li {
    width: 100%;
    margin: 5px 20px;
  }
}
@media (max-width: 600px) {
  .aside {
    display: none;
  }
  .main {
    width: 100%;
  }
  .main .dashboardBody ul {
    /* width: 100%; */
  }
  .main .dashboardBody ul li {
    width: 100%;
    margin: 5px 20px;
  }
  .chart {
    /* display: none; */
  }
  .orders{
    padding: 0;
  }
}
