@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1717849739/J-Cassy/rnpku2m5ljwlkm23evhn.jpg');

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow-x: hidden;
}
.stopScrolling {
  overflow: hidden;
}
.carousel {
  width: 70vw;
  height: 70vh;
}
.carousel img {
  width: 100%;
  height: 100%;
}
