.order {
  background-color: #fff;
  padding: 20px;
  height: 100vh;
  margin: 10px;
}
.header {
  padding: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid#aaa;
  border-radius: 10px;
}
.headerBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin: 5px;
  width: 100px;
}
.dateInfo {
  align-items: center;
  justify-content: center;
}
.dateInfo small {
  margin-left: 30px;
}
.date {
  display: flex;
}
.date h4 {
  margin-left: 15px;
}
.saveBtn {
  padding: 10px 15px;
  margin-right: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.saveBtn:hover {
  background-color: #000;
  color: #fff;
}
.saveBtn:active {
  transform: scale(0.9);
}
.printBtn {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #aaa;
}
.printBtn:hover {
  background-color: #000;
  color: #fff;
}
.printBtn:active {
  transform: scale(0.9);
}
.customerInfo {
  display: flex;
  padding: 10px;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.customer {
  display: flex;
  padding-top: 15px;
  width: 300px;
  height: 100%;
}
.customer h1 {
  margin-left: 10px;
}
.customerTxt {
  margin-left: 10px;
}
.customerTxt .link {
  text-decoration: none;
  font-size: medium;
}
.deliveredTo {
  display: flex;
  margin: 20px;
  padding: 20px;
}
.deliveredTo h1 {
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.productInfo {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  width: 70%;
}
.product {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  text-transform: capitalize;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.productSection {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 10px;
}
.paymentInfo {
  margin-left: 5px;
  /* height: 200px; */
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 20px 10px;
  line-height: 2rem;
}
@media (max-width: 600px) {
  .customerInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .customer {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
  }
  .deliveredTo {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    margin-top: 10px;
  }
  .productInfo {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
  }
  .product{
  display: flex;
  align-items: center;
  justify-content: space-around;
  }
}
