.sections {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}
.sectionInner {
  position: absolute;
  bottom: 200px;
  left: 150px;
  max-width: 560px;
}
.sectionInner h4 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out;
}
.sectionInner h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-bottom: 20px;
  animation: fadeInUp 0.5s ease-in-out 0.2s;
  animation-fill-mode: both;
}

.btn {
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 130px;
  padding: 15px 50px;
  margin-top: 10px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;
  animation: fadeInUp 0.5s ease-in-out 0.4s;
  animation-fill-mode: both;
}
.btn:hover span {
  color: #000;
}

.btn .hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #000;
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover .hover {
  transform: translateY(0);
}

.sectionA {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703253113/J-Cassy/4k-nike-4jlwk1qxozddo3t6_sibtp7.jpg');
}
.sectionB {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703252536/J-Cassy/composition-of-black-friday-shopping-cart-with-gift-boxes-or-bags-on-dark-background-and-copy-space-concept-by-ai-generated-free-photo_sjqafq.jpg');
}
.sectionC {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703253114/J-Cassy/TOINO-ABEL---Clutch-Bag---Natural-Straw-Blue-Dark-Green---N36---Credit-Marta-Rubio-2_s0klur.jpg');
}
.sectionD {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703208014/J-Cassy/pngtree-different-colored-shopping-bags-are-sitting-on-a-dark-background-picture-image_2669759_d4kc2x.png');
}
.sectionE {
  background-image: url('https://res.cloudinary.com/dzajrh9z7/image/upload/v1703252752/J-Cassy/colorful-t-shirts-in-front-of-dark-background-ai-generative-free-photo_avtdlx.jpg');
}
.newArrivalsSection {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}
.newArrivalsContainer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 30px;
}
.newArrivalImg {
  width: 200px;
  height: 200px;
  /* margin: 0 10px; */
}
.newArrivalImg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.testimonialSection {
  background-color: #fff;
  width: 100vw;
 
  display: flex;
  padding: 100px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonialSection h1 {
  color: #000;
  text-transform: uppercase;
  margin-top: 20px;
}
.testimonialContainer {
  background-color: #000;
  border-radius: 15px;
  color: #fff;
  margin: 20px auto;
  padding: 50px 80px;
  max-width: 768px;
}
.testimonial {
  line-height: 20px;
  text-align: justify;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
}
.user .userImage {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.userDetails {
  margin-left: 10px;
}
.user p {
  font-weight: normal;
  margin: 10px 0;
}
.progressBar {
  background-color: #fff;
  height: 4px;
  margin: 20px auto;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}

/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(140px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
/* @keyframes linerGrow {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */
@keyframes rotateGrow {
  0% {
    transform: scaleX(-57%);
  }
  100% {
    transform: scaleX(57%);
  }
}

@media (max-width: 960px) {
  .sectionInner {
    bottom: 30px;
    left: 10px;
  }
  .sectionInner h2 {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .sectionInner {
    bottom: 75px;
    left: 20px;
  }
  .sectionInner h2 {
    font-size: 30px;
  }

  .testimonialSection {
    background-color: #fff;
    color: #000;
    height: auto;
  }
  .testimonialSection h1 {
    color: #000;
    margin-top: 30px;
  }
  .testimonialContainer {
    background-color: #fff;
    color: #000;
  }
  .progressBar {
    background-color: #000;
  }
}
